.main-header {
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr;
  grid-gap: 0.3rem;
}

.main-header span {
  display: grid;
  justify-items: end;
  grid-auto-flow: column;
}

.main-header a[id="nav"] {
  justify-self: start;
}

.main-header a[id="logo"] {
  display: none;
}

@media (min-width: 30rem) {
  .main-header {
    grid-template-columns: fit-content(auto) fit-content(auto);
    align-items: center;
    grid-auto-flow: column;
    justify-items: start;
  }

  .main-header span {
    display: none;
  }

  .main-header a[id="logo"] {
    display: grid;
  }
}
